body {
    background-image:url("./img/ab1.jpg"); 
    background-size:98% 98%;
    background-attachment:fixed;

}
#blackOverlay{
    top:0; 
    left: 0;
    height:100%;
    width:100%;
    position: absolute;
    opacity: 0.6;
    background-color: rgb(10, 10, 10);
    z-index:-1;
}
#header{
    height: 100px;
    color: white;
    font-size: 30px;
    padding-top:30px;
    
}
#options{
    float: right;
    font-size: 30px;
    color: rgb(255, 255, 255);
    
}
#midText{
    font-size: 20px;
    color: aliceblue;
    position: relative;
    top: 150px;
    left: 40%;

}
.carousel{
    font-size: 30px;
    height: 150px;
    position: relative;
    align-items: center;
    top: 200px;
    display: flex;
    color: white;
}
.carousel-item{
    left: 35%;
}
